* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
  .container-row {
    display: block;
  }
}




